<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/profile.css">
    <link rel="stylesheet" href="static/css/responsive.css">
    <title>Профиль пользователя</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="57x57" href="/static/assets/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/assets/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/assets/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/assets/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/assets/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/assets/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/assets/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/assets/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/assets/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/assets/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/assets/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/static/assets/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/assets/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <!-- Модальное окно для грамот -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div style="display: flex; gap: 50px;">
                <div style="background-color: black; width: 50%; height: auto;"></div>
                <div style="width: 50%;">
                    <h2 style="font-size: 30px; font-weight: bold;" id="certificate-title">Название грамоты</h2>
                    <h4 style="font-style: italic; font-size: 20px; font-weight: 300; margin-top: 26px;">Описание:</h4>
                    <p style="font-size: 20px;" id="certificate-description">Описание грамоты</p>
                </div>
            </div>
            <div style="display: flex; justify-content: end;">
                <button class="close-btn" id="close-btn">Закрыть</button>
            </div>
        </div>
    </div>

    <header>
        <nav>
            <a href="{{ url_for('show_main_page') }}" style="display: flex; align-items: center; text-decoration: none;">
                <img src="/static/assets/bgitu-portfel.png" width="71px" height="52px">
                <span style="color: #1867AA; font-weight: bold; font-size: 20px; margin-left: 13px;">БГИТУ Портфель</span>
            </a>
            <div class="dropdown">
                <button onclick="toggleDropdown()" style="display: flex; align-items: center; background-color: white; border: none; cursor: pointer;">
                    {% if user.avatar_url %}
                        <img src="{{ url_for('static', filename=user.avatar_url) }}" style="width: 44px; height: 44px; border-radius: 50%; object-fit: cover;">
                    {% else %}
                        <div style="background-color: white; width: 44px; height: 44px; border-radius: 50%; border: 1px solid #bdbdbd;">
                            <img src="static/assets/user-svgrepo-com.svg" width="46px" height="29px" style="margin-top:6px; margin-left:-2px">
                        </div>
                    {% endif %}
                    <span style="color: #1867AA; font-weight: 400; font-size: 20px; margin-left: 9px;">{{ user.last_name }} {{ user.first_name|first }}.{{ user.patronymic|first }}.</span>
                    <img src="/static/assets/alt-arrow-down-svgrepo-com.svg" width="52px" height="28px">
                </button>
                <div id="dropdown-menu" class="dropdown-content">
                    <a href="{{ url_for('personal_account') }}" style="display: flex; align-items: center;">
                        <img src="/static/assets/user-svgrepo-com.svg" width="46px" height="29px">
                        <span style="font-size: 20px; font-weight: 400;">Профиль</span>
                    </a>
                    <a href="{{ url_for('edit_account_page') }}" style="display: flex; align-items: center;">
                        <img src="/static/assets/settings-svgrepo-com.svg" width="46px" height="29px">
                        <span style="font-size: 20px; font-weight: 400;">Настройки</span>
                    </a>
                    <a href="{{ url_for('logout') }}" style="display: flex; align-items: center;">
                        <img src="/static/assets/logout-2-svgrepo-com.svg" width="46px" height="29px">
                        <span style="font-size: 20px; font-weight: 400; color: #AA1818;">Выйти</span>
                    </a>
                </div>
            </div>
        </nav>
    </header>

    <div style="padding: 30px 114px; background-color: #1867AA; display: flex; align-items: center; gap: 50px;">
    {% if viewed_user.avatar_url %}
        <img src="{{ url_for('static', filename=viewed_user.avatar_url) }}" style="width: 150px; height: 150px; border-radius: 50%; object-fit: cover;">
    {% else %}
        <div style="background-color: white; width: 150px; height: 150px; border-radius: 50%; display: flex; align-items: center; justify-content: center; border: 1px solid #bdbdbd;">
            <img src="{{ url_for('static', filename='assets/user-svgrepo-com.svg') }}" style="width: 60px; height: 60px;">
        </div>
    {% endif %}
    <div>
        <h1 style="color: white; font-size: 45px; font-weight: bold;">{{ viewed_user.last_name }} {{ viewed_user.first_name }} {{ viewed_user.patronymic }}</h1>
        <span style="color: rgba(255, 255, 255, 0.434); font-size: 20px; font-style: italic; font-weight: 300;">
            {% if viewed_user.role_id == 1 %}Администратор{% elif viewed_user.role_id == 3 %}Организатор{% else %}Обычный пользователь{% endif %}
        </span>
    </div>
</div>

    <div style="padding: 20px 72px 78px 114px">
        <div style="display: flex; justify-content: space-between; color: #1867AA;">
            <h1 style="font-size: 40px; font-weight: 300; font-style: italic;">Информация:</h1>
        </div>

        <div style="display: flex; justify-content: space-between; color: #1867AA; font-size: 30px; margin-top: 23px; width: 80%; flex-wrap: wrap; gap: 25px;">
            <div>
                <h4 style="font-style: italic; font-weight: 300;">Степень обучения:</h4>
                <p>
                    {% if user.education_level == 'bachelor' %}Бакалавриат
                    {% elif user.education_level == 'master' %}Магистратура
                    {% elif user.education_level == 'postgraduate' %}Аспирантура
                    {% else %}Не указано{% endif %}
                </p>
            </div>
            <div>
                <h4 style="font-style: italic; font-weight: 300;">Курс:</h4>
                <p>{{ user.course_number if user.course_number else 'Не указано' }}</p>
            </div>
            <div>
                <h4 style="font-style: italic; font-weight: 300;">Группа:</h4>
                <p>{{ user.group_name if user.group_name else 'Не указано' }}</p>
            </div>
            <div>
                <h4 style="font-style: italic; font-weight: 300;">Эл. почта:</h4>
                <p>{{ user.email }}</p>
            </div>
            <div>
                <h4 style="font-style: italic; font-weight: 300;">Дата регистрации:</h4>
                <p>{{ user.registration_date.strftime('%d.%m.%Y') }}</p>
            </div>
            <div>
                <h4 style="font-style: italic; font-weight: 300;">Институт:</h4>
                <p>{{ user.institute if user.institute else 'Не указано' }}</p>
            </div>
        </div>

        <div style="display: flex; justify-content: space-between; color: #1867AA; margin-top: 30px;">
            <h1 style="font-size: 40px; font-weight: 300; font-style: italic;">Грамоты:</h1>
        </div>

        <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly; margin-top: 30px; gap: 40px;">
            {% for cert in certificates %}
            <div class="card-diplom" onclick="showCertificateModal('{{ cert.title }}', '{{ cert.description }}')">
                {% if cert.image_url %}
                    <img src="{{ url_for('static', filename=cert.image_url) }}" style="width: 100%; height: 80%; margin-bottom: 8px; border-radius: 26px; object-fit: cover;">
                {% else %}
                    <div style="background-color: black; width: 100%; height: 80%; margin-bottom: 8px; border-radius: 26px;"></div>
                {% endif %}
                <p style="text-align: center; font-size: 19px;">{{ cert.title }}</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <footer>
        <a href="https://bgitu.ru/" style="display: flex; align-items: center; text-decoration: none;">
            <img src="static/assets/Logo_BGITU_bely.png" width="59px" height="60px">
        </a>
        <span style="color: white; font-size: 20px; font-weight: bold;">© 2025-2026 БГИТУ Портфель. Все права защищены.</span>
        <a href="https://it.bgitu.ru/" style="display: flex; align-items: center; text-decoration: none;">
            <img src="static/assets/logo_IT_bely.png" width="55px" height="59px">
        </a>
    </footer>

    <script>
        function toggleDropdown() {
            document.getElementById("dropdown-menu").classList.toggle("show");
        }

        window.onclick = function(event) {
            if (!event.target.closest('.dropdown')) {
                document.getElementById("dropdown-menu").classList.remove("show");
            }
        }

        function showCertificateModal(title, description) {
            document.getElementById('certificate-title').textContent = title;
            document.getElementById('certificate-description').textContent = description;
            document.getElementById('myModal').style.display = 'block';
        }

        document.getElementById('close-btn').addEventListener('click', function() {
            document.getElementById('myModal').style.display = 'none';
        });

        window.onclick = function(event) {
            if (event.target === document.getElementById('myModal')) {
                document.getElementById('myModal').style.display = 'none';
            }
        };
    </script>
</body>
</html>